.container {
    width: 1200px;
    padding: 15px 0;
}

.suggestions {
    width: 100%;
    min-height: 100vh;
    background-color: #ABA0A0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.suggestions-message {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.suggestions-message-content {
    padding: 15px 20px;
    background-color: #1868FB;;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: #ffffff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    animation: bounceUp 0.8s;
    animation-delay: 0.7s;
    visibility: hidden;
    animation-fill-mode:forwards;
}

.suggestions-message-icon img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 15px;
    animation: bounceRight .7s;
    visibility: hidden;
    animation-fill-mode:forwards;
}

.suggestions-items {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 10px 0;
}

.loading {
    height: 441.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.suggestion-item-container {
    min-width: 380px;
    max-width: 380px;
}

@media (max-width: 1200px) {
    .container {
        width: 850px;
    }
}

@media (max-width: 800px) {
    .container {
        width: 650px;
    }
}

@media (max-width: 650px) {
    .container {
        width: 400px;
    }

    .suggestion-item-container {
        min-width: 300px;
        max-width: 300px;
    }
}

@media (max-width: 400px) {
    .container {
        width: 350px;
    }
}

@media (max-width: 350px) {
    .container {
        width: 250px;
    }

    .suggestion-item-container {
        min-width: 210px;
        max-width: 210px;
    }
}