.suggestion-item {
    width: 100%;
    background-color: #C4C4C4;
    border-radius: 15px;
}

.suggestion-item-header {
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ABA0A0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.suggestion-item-content {
    padding: 25px;
}

.suggestion-item-content-name {
    font-weight: 700;
    text-transform: uppercase;
}

.suggestion-item-content-price {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
}

.suggestion-item-content-description {
    min-height: 50px;
}