.suggestion-item-container {
    display: flex;
    flex-direction: column;
    animation: bounceUp .5s;
}

.suggestion-item-action-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.suggestion-item-action {
    background-color: #A8272D;
    transition: .3s;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: rgba(12 10 10, 0.25) 0 2px 3px;
    font-size: 15px;
}

.suggestion-item-action:hover {
    background-color: #8F2B2B;
    cursor: pointer;
    box-shadow: none;
}